<StackLayout>
  <Label text="Search News" clas="h2 p-10 "></Label>
  <SearchForm (search)="executeSearch($event)"></SearchForm>
  <app-edit-item></app-edit-item>
  <ListView [items]="searchResults" (itemTap)="onTapItem($event)">

    <ng-template let-x="item">
      <FlexboxLayout flexDirection="row" justifyContent="center" alignItems="center" class="p-15 border-bottom">

        <Image src="res://logo" width="50" height="50" class="m-r-15"></Image>
        <Label [text]="x.title" class="h2" margin="0" color="white"></Label>

      </FlexboxLayout>
    </ng-template>

  </ListView>

</StackLayout>