<ActionBar title="Mis Favoritos"></ActionBar>

<StackLayout>
    
    <Label *ngIf="myFavorites.length === 0" text="Aún no tienes favoritos." class="p-20 text-center" color="gray"></Label>
    
    <ListView color="black" [items]="myFavorites" height="100%">
        <ng-template let-item="item">
            <GridLayout columns="*, auto" class="p-10 m-b-5" backgroundColor="#f9f9f9">
                
                <Label [text]="item.title" col="0" textWrap="true" fontSize="16"></Label>
                
                <Button text="Leer ahora" col="1" (tap)="onRead(item)" backgroundColor="#007bff" color="white" class="p-5" borderRadius="5"></Button>
                
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>