<ActionBar title="Camara y compartir">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton> 
</ActionBar>

<ScrollView>

  <StackLayout class="p-20">
    <label text="Practica de Camara y Redes Sociales"></label>
    <Button text="Tomar Fotografia" class="btn btn-primary m-b-20" (tap)="onTakePicture()"></Button>
    <Image *ngIf="capturedImage" [src]="capturedImage" height="300" stretch="aspectFit" class="m-b-20" borderRadius="10"></Image>

    <Button *ngIf="capturedImageSource" text="Compartir Foto" class="btn btn-secondary" (tap)="onSharePicture()"></Button>
    
  </StackLayout>

</ScrollView>