<ActionBar title="Inicio - Leer Ahora">
    <NavigationButton text="Menu" android.systemIcon="ic_menu_more" (tap)="onDrawerButtonTap()"></NavigationButton>
</ActionBar>

<StackLayout class="p-20" backgroundColor="#f4f4f4" height="100%">
    
    <Label text="Noticias Seleccionadas para Leer:" fontSize="22" fontWeight="bold" class="m-b-15" color="black"></Label>
    
    <ListView [items]="favorites$ | async" height="85%">
        <ng-template let-item="item">
            <GridLayout columns="*" class="p-15 m-b-10" backgroundColor="white" borderRadius="8">
                <Label [text]="item.title" textWrap="true" fontSize="16" fontWeight="bold" color="black"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
    
</StackLayout>