<ActionBar title="Item Details">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<PullToRefresh (refresh)="onPull($event)">
  
  <ListView [items]="comments" height="100%">
    
    <ng-template let-comment="item">
        
      <GridLayout columns="auto, *, auto" rows="auto, auto" backgroundColor="lightgray" class="m-b-5" borderRadius="5" padding="10" (longPress)="onLongPress(comment)">
          
        
          <Image src="res://logo" rowSpan="2" width="60" height="60" margin="3" verticalAlignment="top"></Image>
          
          
          <Label [text]="comment.text" textWrap="true" col="1" colspan="2" fontSize="16" color="black" margin="3"></Label>
                
          
          <Label [text]="'Usuario: ' + comment.user" col="1" row="1" fontSize="13" color="black" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
                
          
          <Label [text]="comment.date" col="2" row="1" color="#10C2B0" fontSize="12" horizontalAlignment="right" verticalAlignment="bottom" margin="3"></Label>

          
          <StackLayout col="2" row="0" orientation="horizontal" horizontalAlignment="right" margin="3">
            <Label text="⭐" fontSize="16" class="m-r-10" (doubleTap)="onFavorite($event)"></Label>
            <Label text="✏️" fontSize="16" class="m-r-10" (tap)="onEdit(comment)"></Label>
            <Label text="🗑️" fontSize="16" (tap)="onDelete(comment)"></Label>
          </StackLayout>
        
      </GridLayout>
    
    </ng-template>
  
  </ListView>  

</PullToRefresh>