<ActionBar title="Configuración"></ActionBar>

<StackLayout class="p-20" backgroundColor="#f4f4f4" height="100%">
    
    <Label text="Perfil del Usuario" fontSize="24" fontWeight="bold" class="m-b-20"></Label>

    <label [text]="userName" color="black"></label>
    
    <Label text="Edita tu nombre de usuario:" fontSize="16" class="m-b-10 text-muted"></Label>
    
    <!-- Caja de texto bidireccional -->
    <TextField [(ngModel)]="userName" hint="Ingresa tu nombre" class="input p-10 m-b-20" backgroundColor="white" color="black" borderRadius="5"></TextField>
    
    <!-- Botón para guardar -->
    <Button text="Guardar Cambios" (tap)="onSave()" backgroundColor="#28a745" color="white" class="p-10" borderRadius="5"></Button>
    
</StackLayout>
